{{ project = data.projects[data.projects_by_slug[projectSlug]];""}}
<div class="ui vertical segment hero project">
    <div class="ui two column stackable grid">
        <div class="column">
            <div class="title">{{ project.title}}</div>
            <div class="description">{{ project.description}}</div>
            <div class="share"><a facebook class="facebookShare" data-url="{{ metatags.og_url}}" data-shares="shares">{{ shares}}</a></div>
        </div>
        <div class="column" ng-if="project.images.length > 0" ng-init="projectImage = project.images[0]">
            <img ng-if="projectImage.image !== null" ng-src="{{ appConfig.apiUrl + '/media-api/media/' + projectImage.image.id + '/binaries/default_small'}}" 
                 width="{{ projectImage.width}}" 
                 height="{{ projectImage.height}}"
                 atl="{{ projectImage.name}}" />
        </div>
    </div>
</div>
</div>
<div class="ui vertical segment projects blue-bg" ng-if="project.images.length > 0">
    <div class="ui two column stackable grid blue-bg">
        <div class="column dark-blue-bg" ng-repeat="(projectImageId, projectImage) in project.images">
            <img ng-if="projectImage.image !== null" ng-src="{{ appConfig.apiUrl + '/media-api/media/' + projectImage.image.id + '/binaries/default_small'}}"
                 width="{{ projectImage.width}}"
                 height="{{ projectImage.height}}"
                 atl="{{ projectImage.name}}" />
        </div>
    </div>
</div>
