<a facebook class="facebookShare" data-url="{{ currentUrl }}" data-shares="shares">{{ shares }}</a>
<div class="pure-g">
  <div class="pure-u-1">
    <h4>Projects</h4>
    <div ng-repeat="(projectId, project) in data.projects">
        <div class="project">
            <div class="title"><a ui-sref="root.project({projectSlug: project.slug, lang: lang})">{{ project.title}}</a></div>
            <div class="description">{{ project.description }}</div>
            <div ng-if="project.images.length > 0" ng-init="projectImage = project.images[0]">
                {{image}}
                <img ng-if="projectImage.image !== null" ng-src="{{ appConfig.apiUrl + '/media-api/media/' + projectImage.image.id + '/binaries/default_small' }}" 
                     width="{{ projectImage.width }}" 
                     height="{{ projectImage.height }}"
                     atl="{{ projectImage.name }}" />
            </div>
        </div>
    </div>
  </div>
</div>
