/*
inspired by:
https://github.com/minamarkham/sassy-starter/
https://github.com/kachunchau/smacss-boilerplate
https://github.com/davidrapson/scss-toolkit
*/
@import 'settings', 'mixins', 'base', 'helpers', 'modules/island','modules/horizontal-list', 'modules/buttons', 'layouts/page', 'states';

$green: #23A349;
$blue: #23538B;
$dark_blue: #1B497E;
$black: #23324D;
$dark_gray: #798190;
$medium_gray: #C7CDD7;
$light_gray: #E8EAED;
$white: #FFFFFF;
$black: #000000;

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    .title, .button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}

.ui.grid {
    margin-left: 0;
    margin-right: 0;
}

.white-bg {
    background-color: $white !important;
    color: $black !important;
}

.blue-bg {
    background-color: $blue !important;
    color: $white !important;
}

.dark-blue-bg {
    background-color: $dark_blue !important;
    color: $white !important;
}

.ui.segment {
    color: $white;

    &.hero {
        height: 100vh;
        background-color: $blue;

        .button {
            background-color: $green;
            color: $white;
            -moz-border-radius: 3rem;
            -webkit-border-radius: 3rem;
            border-radius: 3rem;
        }
    }

    &.footer {
        background-color: $dark_blue;
        padding-top: 0;

        .gradient {
            $gradient_start: 0.2;
            $gradient_end: 0;
            margin-bottom: 1rem;
            height: 0.5rem;
            background: $dark_blue; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(bottom,rgba(0,0,0,$gradient_start),rgba(0,0,0,$gradient_end)); /*Safari 5.1-6*/
            background: -o-linear-gradient(bottom,rgba(0,0,0,$gradient_start),rgba(0,0,0,$gradient_end)); /*Opera 11.1-12*/
            background: -moz-linear-gradient(bottom,rgba(0,0,0,$gradient_start),rgba(0,0,0,$gradient_end)); /*Fx 3.6-15*/
            background: linear-gradient(to bottom, rgba(0,0,0,$gradient_start),rgba(0,0,0,$gradient_end)); /*Standard*/
        }
    }
}